<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Clockin</string>
	<key>CFBundleExecutable</key>
	<string>Clockin</string>
	<key>CFBundleIconFile</key>
	<string>Clockin</string>
	<key>CFBundleIdentifier</key>
	<string>com.ismailakdag.clockin</string>
	<key>CFBundleName</key>
	<string>Clockin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/ismailakdag/clockin/releases/download/macos-updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vsxEtDN88GYSuw5+GGeCk3eEvZxlDEalz1icmMBCvh8=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
	<key>SUSignedFeedFailureExpirationInterval</key>
	<integer>0</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
